<ul class="nav navbar-nav navbar-right">
    @{
        var userRole = Convert.ToString(Session["UserRole"]);
        var userEmail = Convert.ToString(Session["UserEmail"]);

        if (userRole == "admin" || userRole == "guest")
        {
            <li>@Html.ActionLink(userRole, "Logout", "LogsRegs") </li>
            <li>@Html.ActionLink(userEmail, "SendMail", "Mail") </li>
            <li>@Html.ActionLink("Atsijungti", "Logout", "LogsRegs")</li>
        }
        else
        {
            <li>@Html.ActionLink("Registruotis", "Create", "LogsRegs")</li>
            <li>@Html.ActionLink("Prisijungti", "Login", "LogsRegs")</li>
        }
    }
</ul>
