@model FoodMVC.Models.GlobalProp

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                @Html.DisplayName("Dabar ")<br />
                @DateTime.Now.ToString("yyyy-MM-dd HH:mm")
            </div>
            <div class="col-sm-4 text-center">
                @Html.DisplayName("Paskutinis prisijungimas ")<br />
                @Model.LastLogin.ToString("yyyy-MM-dd HH:mm")

            </div>
            <div class="col-sm-4 text-center">
                @Html.DisplayName("Paskutinis pakeitimas ")<br />
                <span class="text-danger">@Model.LastMod.ToString("yyyy-MM-dd HH:mm")</span>
            </div>
        </div>
    </div>
    <br />