@model FoodMVC.Models.LogReg

@{
    ViewBag.Title = "Registracija";
}

    <h2>Sėkmingai užregistruotas</h2>

<div>
    @*<h4>LogReg</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Role)
        </dd>*@

    </dl>
</div>
@*<p>
    @Html.ActionLink("Keisti", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Grįžti į pagrindinį puslapį", "Index", "Home")
</p>*@
